/*  your css code here. If applicable */
.Container{
background-color: rgb(135, 206, 235);
	width: 500px;
	height: 400px;
}
p:first-child{
background-color: black;
	color: white;
}
p:nth-child(4){
color: red;
}
li:nth-of-type(2n+1){
background-color: white;
width: 300px;
}
li:nth-of-type(2n){
background-color: grey;
	width:300px;
}
li:nth-child(3){
background-color: pink;
}